@keyframes fadeIn {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    transform: translateY(0);
    display: flex;
  }
  100% {
    transform: translateY(-30px);
    display: none;
  }
}
