.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 0px 20px;

  &-nav {
    display: flex;
    align-items: center;

    &-title {
      &-point {
        color: #1a82ff;
      }
    }

    &-list {
      display: flex;
      gap: 0px 20px;

      &-item {
        color: #5d6588;
        text-decoration: none;
      }
    }
  }

  &-info {
    display: flex;
    gap: 0px 30px;

    &-form {
      &-container {
        width: 100%;
        display: flex;
        align-items: center;
        background: #2f324180;
        border-radius: 25px;

        &-search {
          border: none;
          outline: none;
          padding: 8px 8px 8px 0px;
          background: transparent;
          color: #8086a4;
          font-size: 16px;
        }

        &-logo {
          width: 18px;
          padding: 0px 5px;
          color: #5d6588;
        }
      }
    }

    &-container {
      display: flex;
      align-items: center;
      gap: 0px 10px;
      cursor: pointer;

      &-user {
        width: 20%;
      }

      &-arrow {
        width: 15%;
      }
    }

    &-notification {
      cursor: pointer;
    }

    &-popup {
      position: absolute;
      flex-direction: column;
      gap: 10px 0px;
      top: 60px;
      right: 20px;
      width: 200px;
      border-radius: 10px;
      padding: 10px;
      z-index: 1;
      background: #fff;
      text-align: center;
      transition: all 0.5s ease-in-out;
      animation: fadeIn 0.7s;

      &-logout {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        color: #000;
        background: #d8d8d8;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        border: none;
      }

      &-settings {
        width: 95%;
        padding: 5px;
        border-radius: 5px;
        color: #000;
        background: #d8d8d8;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        border: none;
        text-decoration: none;
      }
    }
  }
}

.active {
  color: #fff;
}

::placeholder {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #8086a4;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
